@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Open Sans', sans-serif;
  color: white; }
  body *:hover, body *:active, body *:focus {
    text-decoration: none;
    outline: none;
    color: white; }

  font-family: 'Open Sans', sans-serif; }


/*przycisk wysuwajacy navbar nie jest czescia navbaru w strukturze html - do dopisania w glownym szkielecie strony plus obsluga w JS(mozliwe ze da sie bez JS)*/
.nav-bar ul li a::before, .nav-bar ul li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0); }

.nav-bar {
  display: block;
  height: 105px;
  width: 100%;
  background: #13b3bb;
  font-size: 14px;
  position: fixed;
  z-index: 2;
  top: -50%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1); }
  .nav-bar.nav-bar-shown {
    top: 0; }
  @media (max-width: 768px) {
    .nav-bar {
      height: auto;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); } }
  .nav-bar ul {
    list-style-type: none;
    height: 100%;
    max-width: 730px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap; }
    @media (max-width: 1100px) {
      .nav-bar ul {
        max-width: 650px; } }
    @media (max-width: 940px) {
      .nav-bar ul {
        max-width: 560px; } }
    @media (max-width: 768px) {
      .nav-bar ul {
        width: calc(70% - 50px);
        padding-top: 2.2em;
        padding-bottom: 2.2em; } }
    .nav-bar ul li:not(:nth-child(1)) {
      margin-left: 35px; }
      @media (max-width: 1100px) {
        .nav-bar ul li:not(:nth-child(1)) {
          margin-left: 0; } }
    @media (max-width: 768px) {
      .nav-bar ul li {
        width: 100%;
        margin: 0 !important;
        padding: 5px 0; } }
    .nav-bar ul li a {
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0.5em;
      text-align: center;
      transition: color .5s;
      position: relative;
      /*klasa z aktywna strona w navbarze - obsluga do dopisania w JS*/ }
      @media (max-width: 768px) {
        .nav-bar ul li a {
          display: block;
          font-size: 14px; } }
      .nav-bar ul li a::before {
        top: 0; }
      .nav-bar ul li a::after {
        bottom: 0; }
      .nav-bar ul li a.active-nav-link {
        color: white;
        text-decoration: none; }
        .nav-bar ul li a.active-nav-link::before, .nav-bar ul li a.active-nav-link::after {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1); }
      .nav-bar ul li a:focus {
        text-decoration: none;
        color: #333333; }
      .nav-bar ul li a:hover {
        color: white;
        text-decoration: none; }
        .nav-bar ul li a:hover::before, .nav-bar ul li a:hover::after {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 0 50%;
                  transform-origin: 0 50%;
          transition: -webkit-transform 0.4s;
          transition: transform 0.4s;
          transition: transform 0.4s, -webkit-transform 0.4s; }
        .nav-bar ul li a:hover::after {
          -webkit-transform-origin: 100% 50%;
                  transform-origin: 100% 50%; }

button.nav-bar-button {
  background: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 40px;
  border: none;
  position: fixed;
  right: 15%;
  top: 4%;
  z-index: 3; }


  button.nav-bar-button:hover, button.nav-bar-button:active, button.nav-bar-button:focus, button.nav-bar-button:visited {
    text-decoration: none;
    outline: none;
    color: white; }

  @media (max-width: 1300px) {
    button.nav-bar-button {
      right: 10%; } }
  @media (max-width: 800px) {
    button.nav-bar-button {
      right: 10%; } }
  button.nav-bar-button .button-div-line {
    height: 2px;
    width: 35px;
    background: #fff;
    margin: 5px auto;
    transition: opacity 0.3s, background 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s, background 0.3s;
    transition: transform 0.3s, opacity 0.3s, background 0.3s, -webkit-transform 0.3s; }
  button.nav-bar-button.active-nav-bar-button .button-div-line {
    position: absolute;
    margin: 0;
    top: 19px;
    left: 6.5px;
    background: #333; }
    button.nav-bar-button.active-nav-bar-button .button-div-line:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    button.nav-bar-button.active-nav-bar-button .button-div-line:nth-of-type(2) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    button.nav-bar-button.active-nav-bar-button .button-div-line:nth-of-type(3) {
      bottom: 12px;
      left: 7.5px;
      opacity: 0; }

.adorning-logo h2 {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  padding: 0 .67em;
  transition: font-size 0.5s;
  /*najpierw media ponizej 600px, wszystko w logo jest na jednostkach em wiec wystarczy zmieniac font-size u glownego rodzica */
  /*media powyzej 768px*/ }
  @media (max-width: 600px) {
    .adorning-logo h2 {
      font-size: 36px; } }
  @media (max-width: 480px) {
    .adorning-logo h2 {
      font-size: 32px; } }
  @media (max-width: 380px) {
    .adorning-logo h2 {
      font-size: 28px; } }
  @media (min-width: 768px) {
    .adorning-logo h2 {
      font-size: 47px; } }
  @media (min-width: 1200px) {
    .adorning-logo h2 {
      font-size: 54px; } }
  .adorning-logo h2::before {
    content: "";
    width: .55em;
    height: 1em;
    border: 3px solid #24f4ff;
    position: absolute;
    top: 0.15em;
    left: 0; }
    @media (min-width: 768px) {
      .adorning-logo h2::before {
        border: 5px solid #24f4ff; } }
  .adorning-logo h2 a {

    font-family: 'Ubuntu', sans-serif; }

    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: white; }
    .adorning-logo h2 a:hover, .adorning-logo h2 a:active, .adorning-logo h2 a:focus, .adorning-logo h2 a:visited {
      text-decoration: none;
      outline: none;
      color: white; }

  .adorning-logo h2 span {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    font-size: .3em;
    line-height: 0.1;
    color: #24f4ff;
    /*zeby span nie nachodzil na a przy najmniejszych wymiarach*/ }
    @media (max-width: 480px) {
      .adorning-logo h2 span {
        line-height: 0.3; } }
    @media (min-width: 768px) {
      .adorning-logo h2 span {
        line-height: 0.2; } }

section.banner {
  background: url("../images/banner.jpg") no-repeat top center;
  background-size: cover;
  position: relative;
  /*min-height dla bannera pozwala skalowac sie tłu*/ }
  @media (max-width: 500px) {
    section.banner {
      min-height: 400px; } }
  @media (min-width: 300px) {
    section.banner {
      min-height: 250px; } }
  @media (min-width: 400px) {
    section.banner {
      min-height: 333.33333px; } }
  @media (min-width: 500px) {
    section.banner {
      min-height: 416.66667px; } }
  @media (min-width: 600px) {
    section.banner {
      min-height: 500px; } }
  @media (min-width: 700px) {
    section.banner {
      min-height: 466.66667px; } }
  @media (min-width: 800px) {
    section.banner {
      min-height: 533.33333px; } }
  @media (min-width: 900px) {
    section.banner {
      min-height: 600px; } }
  @media (min-width: 1000px) {
    section.banner {
      min-height: 666.66667px; } }
  @media (min-width: 1100px) {
    section.banner {
      min-height: 733.33333px; } }
  @media (min-width: 1200px) {
    section.banner {
      min-height: 770px; } }
  section.banner .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 18px; }
    section.banner .container header {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
              align-items: center; }
  @media (min-width: 768px) {
    section.banner .banner-list-container {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); } }
  section.banner .banner-list {
    list-style-type: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;

    margin-top: 12.5%; }

    margin-top: 12.5%;
    color: white; }

    @media (max-width: 630px) {
      section.banner .banner-list {
        margin-top: 20%; } }
    @media (max-width: 290px) {
      section.banner .banner-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    @media (min-width: 768px) {
      section.banner .banner-list {
        margin-top: -25%;
        justify-content: space-around;
        position: absolute;
        right: 110%;
        width: 200%; } }
  @media (min-width: 768px) and (max-width: 990px) {
    section.banner .banner-list {
      width: 230%;
      right: 90%; } }
  @media (min-width: 768px) and (max-width: 865px) {
    section.banner .banner-list {
      width: 260%;
      right: 70%; } }
    section.banner .banner-list li {
      margin: 0 3%;
      letter-spacing: 2px;
      font-size: 13px;
      font-weight: 600; }
      @media (max-width: 430px) {
        section.banner .banner-list li {
          font-size: 10px; } }
      @media (min-width: 768px) {
        section.banner .banner-list li {
          font-size: 14px; } }
  section.banner .banner-info {
    text-align: center;
    color: white; }
    @media (min-width: 768px) {
      section.banner .banner-info {
        margin-top: 31.5%; } }
    section.banner .banner-info h1 {
      font-size: 7.7vw;
      line-height: 1.1; }
      @media (max-width: 430px) {
        section.banner .banner-info h1 {
          font-size: 33px; } }
      @media (min-width: 710px) {
        section.banner .banner-info h1 {
          font-size: 55px; } }
      @media (min-width: 880px) {
        section.banner .banner-info h1 {
          font-size: 64px; } }
      @media (min-width: 1200px) {
        section.banner .banner-info h1 {
          font-size: 73px; } }
      section.banner .banner-info h1 strong {
        display: block;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600; }
      section.banner .banner-info h1 p {
        font-family: 'Ubuntu', sans-serif;
        font-size: .33em;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 2px; }
        @media (min-width: 600px) {
          section.banner .banner-info h1 p {
            font-size: 15px; } }
        @media (min-width: 700px) {
          section.banner .banner-info h1 p {
            font-size: 15.5px; } }
        @media (min-width: 800px) {
          section.banner .banner-info h1 p {
            font-size: 16.5px; } }
        @media (min-width: 900px) {
          section.banner .banner-info h1 p {
            font-size: 18px; } }
        @media (min-width: 1000px) {
          section.banner .banner-info h1 p {
            font-size: 19px; } }
        @media (min-width: 1100px) {
          section.banner .banner-info h1 p {
            font-size: 20px; } }
    section.banner .banner-info > p {
      width: 90%;
      margin: 2.8em auto;
      font-size: 14px;
      line-height: 1.8em; }
      @media (max-width: 625px) {
        section.banner .banner-info > p {
          margin: 1.5em auto;
          font-size: 13px;
          width: 85%; } }
      @media (max-width: 550px) {
        section.banner .banner-info > p {
          font-size: 12px;
          width: 90%; } }
      @media (max-width: 485px) {
        section.banner .banner-info > p {
          width: 95%; } }
    section.banner .banner-info > a {
      display: inline-block;


      color: white;
      text-decoration: none;

      margin: 2vw auto 60px auto;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;
      padding: 10px 40px;
      background: #24f4ff;
      border: 2px solid #fff;
      position: relative;
      overflow: hidden; }


      section.banner .banner-info > a:hover, section.banner .banner-info > a:active, section.banner .banner-info > a:focus, section.banner .banner-info > a:visited {
        text-decoration: none;
        outline: none;
        color: white; }

      section.banner .banner-info > a span {
        position: relative;
        transition: color 0.5s; }
      section.banner .banner-info > a::before {
        content: '';
        display: block;
        position: absolute;
        left: calc(50% - 200px);
        top: calc(50% - 50px);
        border-radius: 50%;
        width: 400px;
        height: 100px;
        background: #494848;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s; }
      section.banner .banner-info > a:hover span {
        color: #333; }
      section.banner .banner-info > a:hover::before {
        background: #494848;
        -webkit-transform: scale(0.001);
                transform: scale(0.001); }
      @media (max-width: 470px) {
        section.banner .banner-info > a {
          font-size: 10px;
          padding: 8px 35px; } }


section.welcome {
  font-size: 21px;
  padding: 10.5% 0; }
  @media (min-width: 440px) {
    section.welcome {
      padding: 9.5% 0;
      font-size: 23.2px; } }
  @media (min-width: 580px) {
    section.welcome {
      padding: 8.5% 0;
      font-size: 25.4px; } }
  @media (min-width: 720px) {
    section.welcome {
      padding: 7.5% 0;
      font-size: 27.6px; } }
  @media (min-width: 860px) {
    section.welcome {
      padding: 6.5% 0;
      font-size: 29.8px; } }
  @media (min-width: 1000px) {
    section.welcome {
      padding: 5.5% 0;
      font-size: 32px; } }
  section.welcome div.welcome-container {
    color: #212121; }
    section.welcome div.welcome-container h3 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 1em;
      padding-left: 0.8em;
      border-left: 5px solid #13b3bb;
      line-height: 1.1; }
      section.welcome div.welcome-container h3 span {
        color: #13b3bb;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif; }
    section.welcome div.welcome-container p {
      font-size: 13px;
      color: #999;
      line-height: 2em;
      margin: 4.5% 0 9% 0; }
      @media (min-width: 340px) {
        section.welcome div.welcome-container p {
          font-size: 14px; } }
      @media (min-width: 500px) {
        section.welcome div.welcome-container p {
          margin: 28px 0 42px 0; } }
  section.welcome div.social-counters-container {
    margin-bottom: 32px; }
    @media (min-width: 992px) {
      section.welcome div.social-counters-container {
        margin-bottom: 0; } }
  section.welcome div.social-counter {
    font-size: 24px;
    font-weight: bold; }
    section.welcome div.social-counter a {
      display: inline-block;
      width: 60px;
      height: 60px;
      border: 2px solid #3b5998;
      text-align: center;
      color: #3b5998; }
      @media (min-width: 480px) {
        section.welcome div.social-counter a {
          width: 80px;
          height: 80px; } }
      section.welcome div.social-counter a i {
        font-size: 19.2px;
        line-height: 3em; }
        @media (min-width: 480px) {
          section.welcome div.social-counter a i {
            font-size: 1em; } }
    section.welcome div.social-counter:nth-of-type(2) {
      margin: 19px 0; }
      section.welcome div.social-counter:nth-of-type(2) a {
        border: 2px solid #ea4c89;
        color: #ea4c89; }
    section.welcome div.social-counter:nth-of-type(3) a {
      border: 2px solid #833ab4;
      color: #833ab4; }
    section.welcome div.social-counter label {
      display: inline-block;
      margin: 0 10%; }
      @media (min-width: 370px) {
        section.welcome div.social-counter label {
          margin: 0 14%; } }
      @media (min-width: 700px) {
        section.welcome div.social-counter label {
          margin: 0 16.5%; } }
      @media (min-width: 992px) {
        section.welcome div.social-counter label {
          margin: 0 10%; } }
    section.welcome div.social-counter span {
      display: inline-block; }
  section.welcome .images-col {
    position: relative; }
  section.welcome .image-container img {
    max-width: 100%;
    height: auto; }
  section.welcome .image-container:nth-of-type(1) {
    padding-left: 15px; }
    @media (min-width: 420px) {
      section.welcome .image-container:nth-of-type(1) {
        padding-right: 15px; } }
    @media (min-width: 992px) {
      section.welcome .image-container:nth-of-type(1) {
        padding: 0; } }
  section.welcome .image-container:nth-of-type(2) {
    width: 70%;
    position: absolute;
    top: 40%;
    left: 3%; }
    @media (min-width: 600px) {
      section.welcome .image-container:nth-of-type(2) {
        top: 38%;
        left: 2%; } }
    @media (min-width: 800px) {
      section.welcome .image-container:nth-of-type(2) {
        top: 38%;
        left: -2%; } }
    @media (min-width: 900px) {
      section.welcome .image-container:nth-of-type(2) {
        top: 38%;
        left: -8%; } }
    @media (min-width: 992px) {
      section.welcome .image-container:nth-of-type(2) {
        width: 75%;
        top: 57%;
        left: -27%; } }
    @media (min-width: 1200px) {
      section.welcome .image-container:nth-of-type(2) {
        width: 75%;
        top: 35%;
        left: -27%; } }

footer {

.newsletter {

  background-color: #13b3bb;
  min-height: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center; }
  .newsletter h3 {
    color: #FFFFFF;
    font-size: 2.5em; }
    @media (max-width: 640px) {
      .newsletter h3 {
        text-align: center; } }
  .newsletter input {
    border: 1px solid #FFFFFF;
    background-color: #13b3bb;
    height: 3em; }
  .newsletter button {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    border: none;
    padding: 0.5em 1em;
    height: 3em; }

footer {
  background-color: #0f0f0f;
  min-height: 300px; }
  footer .adorning-logo h2 {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    padding: 0 .67em;
    transition: font-size 0.5s;
    /*najpierw media ponizej 600px, wszystko w logo jest na jednostkach em wiec wystarczy zmieniac font-size u glownego rodzica */
    /*media powyzej 768px*/ }
    @media (max-width: 600px) {
      footer .adorning-logo h2 {
        font-size: 36px; } }
    @media (max-width: 480px) {
      footer .adorning-logo h2 {
        font-size: 32px; } }
    @media (max-width: 380px) {
      footer .adorning-logo h2 {
        font-size: 28px; } }
    @media (min-width: 768px) {
      footer .adorning-logo h2 {
        font-size: 47px; } }
    @media (min-width: 1200px) {
      footer .adorning-logo h2 {
        font-size: 54px; } }
    footer .adorning-logo h2::before {
      content: "";
      width: .55em;
      height: 1em;
      border: 3px solid #24f4ff;
      position: absolute;
      top: 0.15em;
      left: 0; }
      @media (min-width: 768px) {
        footer .adorning-logo h2::before {
          border: 5px solid #24f4ff; } }
    footer .adorning-logo h2 a {
      font-family: 'Ubuntu', sans-serif; }
    footer .adorning-logo h2 span {
      font-family: 'Ubuntu', sans-serif;
      display: block;
      font-size: .3em;
      line-height: 0.1;
      color: #24f4ff;
      /*zeby span nie nachodzil na a przy najmniejszych wymiarach*/ }
      @media (max-width: 480px) {
        footer .adorning-logo h2 span {
          line-height: 0.3; } }
      @media (min-width: 768px) {
        footer .adorning-logo h2 span {
          line-height: 0.2; } }
  footer .footer div:nth-of-type(2) {
    color: #FFFFFF; }
    footer .footer div:nth-of-type(2) span {
      font-size: 3em; }
  footer .footer div:nth-of-type(3) ul {
    list-style: none; }
    footer .footer div:nth-of-type(3) ul li a {
      color: #FFFFFF;
      text-transform: uppercase; }
  footer .footer .footer_boxes {
    border: 1px solid red;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 25%; }
    @media (max-width: 480px) {
      footer .footer .footer_boxes {
        width: 100%; } }
    @media (max-width: 991px) {
      footer .footer .footer_boxes {
        width: 50%; } }
    @media (max-width: 1024px) {
      footer .footer .footer_boxes {
        width: 25%; } }
    footer .footer .footer_boxes div {
      width: 50%; }
      footer .footer .footer_boxes div img {
        max-width: 100%;
        height: auto; }

.events {
  background-color: #FFFFFF;
  border: 1px dotted green;
  min-height: 300px; }
  .events h3 {
    color: #000; }
  .events p {
    color: #000; }
  .events .container {
    border: 1px solid blue; }
    .events .container .event_table {
      border: 1px solid red; }
      .events .container .event_table div {
        border: 1px dotted deeppink; }
  .events .event_box {
    background-image: url("../images/8.jpg");
    min-height: 400px;
    position: relative;
    padding: 3em; }
    .events .event_box > div {
      background: rgba(9, 243, 255, 0.45);
      height: 305px;
      padding: 2em;
      text-align: center; }
      .events .event_box > div h2 {
        text-transform: capitalize;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        font-size: 2em; }
      .events .event_box > div h3 {
        color: #FFFFFF;
        letter-spacing: 30px;
        text-transform: uppercase;
        font-size: 4em;
        margin-top: .5em; }

.tmp-section {
  min-height: 300px; }
  .tmp-section:nth-of-type(2n) {
    background-color: #999999; }


