button.nav-bar-button{
  background: rgba(0, 0, 0, 0.4);
  width:50px;
  height:40px;
  border: none;
  position: fixed;
  right: 15%;
  top: 4%;
  z-index: 3;

  @media(max-width:1300px){
    right: 10%;
  }

  @media(max-width:800px){
    right: 10%;
  }

  .button-div-line{
    height: 2px;
    width: 35px;
    background: #fff;
    margin: 5px auto;
    transition: transform 0.3s, opacity 0.3s, background 0.3s;

  }

  &.active-nav-bar-button{ //lepiej wygladalby na margineach niz position: absolute przy untlogglowaniu, .banner-list na chwile sie rozmazuje przy kliknieciu tego przycisku- powod nieznany

    .button-div-line{
      position: absolute;
      margin: 0;
      top:19px;
      left: 6.5px; //teoretycznie powinno tu byc 7.5px zeby byly posrodku ale rotate wydaje sie lekko przenosic je w prawo
      background: #333;

      &:nth-of-type(1){
        transform: rotate(45deg);

      }

      &:nth-of-type(2){
        transform: rotate(-45deg);
      }

      &:nth-of-type(3){
        bottom:12px;
        left: 7.5px;
        opacity: 0;
      }
    }
  }
}